.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

#pl_info h1 {
  font-size: 35px;
  color: #454444;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

#pl_info hr {
  height: 3px;
  width: 38px;
  background-color: #074b73;
}

#pl_info #price-info {
  margin-bottom: 20px;
}

#pl_info #price-info .one-price .title {
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  color: #4cb8d4;
  text-transform: uppercase;
  font-weight: bold;
}

#pl_info #price-info .one-price .price {
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px 0;
}

#pl_info #price-info .one-price .price i {
  display: block;
  font-size: 76px;
  color: white;
}

#pl_info #price-info .one-price .price span {
  display: block;
  font-size: 25px;
  color: white;
  height: 40px;
}

#pl_info #price-info .one-price .content .item {
  text-align: center;
  padding: 10px 10px;
  background: #F5F5F5;
  border-bottom: solid 1px #fff;
  line-height: 16px;
  min-height: 53px;
  font-size: 15px;
}

#pl_info #price-info .one-price .content .item i {
  color: #14a963;
}

#pl_info #price-info .one-price .content .item:nth-child(1) i {
  color: #017ee6;
}

#pl_info #price-info .one-price .content .item:nth-child(2) i {
  color: #017ee6;
}

#pl_info #price-info .one-price:nth-child(1) .title {
  text-transform: lowercase;
}

#pl_info #price-info .one-price:nth-child(1) .title:first-letter {
  text-transform: uppercase;
}

#pl_info #price-info .one-price:nth-child(1) .price i {
  color: #4cb8d4;
}

#pl_info #price-info .one-price:nth-child(2) .title {
  background-color: #abca03;
  color: #fff;
}

#pl_info #price-info .one-price:nth-child(2) .price {
  background-color: #92AD00;
}

#pl_info #price-info .one-price:nth-child(2) .item {
  background-color: #FFF3E3;
}

#pl_info #price-info .one-price:nth-child(2) .item:nth-child(2n) {
  background-color: #FFF7EC;
}

#pl_info #price-info .one-price:nth-child(2) .register a {
  background-color: #92AD00;
}

#pl_info #price-info .one-price:nth-child(3) .title {
  background-color: #03a3e2;
  color: #fff;
}

#pl_info #price-info .one-price:nth-child(3) .price {
  background-color: #04B8FF;
}

#pl_info #price-info .one-price:nth-child(3) .item {
  background-color: #deedf7;
}

#pl_info #price-info .one-price:nth-child(3) .item:nth-child(2n) {
  background-color: #E9F3FA;
}

#pl_info #price-info .one-price:nth-child(3) .register a {
  background-color: #04B8FF;
}

#pl_info #price-info .one-price:nth-child(4) .title {
  background-color: #356C9A;
  color: #fff;
}

#pl_info #price-info .one-price:nth-child(4) .price {
  background-color: #125389;
}

#pl_info #price-info .one-price:nth-child(4) .item {
  background-color: #DBE5ED;
}

#pl_info #price-info .one-price:nth-child(4) .item:nth-child(2n) {
  background-color: #E7EEF3;
}

#pl_info #price-info .one-price:nth-child(4) .register a {
  background-color: #125389;
}

#pl_info #price-info .one-price:nth-child(5) .title {
  background-color: #26466B;
  color: #fff;
}

#pl_info #price-info .one-price:nth-child(5) .price {
  background-color: #002652;
}

#pl_info #price-info .one-price:nth-child(5) .item {
  background-color: #D9DEE5;
}

#pl_info #price-info .one-price:nth-child(5) .item:nth-child(2n) {
  background-color: #E6E9EE;
}

#pl_info #price-info .one-price .register a {
  width: 100%;
  border: none;
  background-color: #002652;
  color: white;
  font-size: 18px;
  line-height: 16px;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}

#pl_info #price-contact {
  margin-bottom: 20px;
}

#pl_info #price-contact p {
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 10px 0;
}

#add-on-info .title {
  color: white;
  font-size: 18px;
  padding: 9px 12px;
  border: 1px solid white;
  background-color: #04B8FF;
  font-weight: bold;
}

#add-on-info .content .item {
  border: 1px solid rgba(0, 0, 0, 0.0666667);
  height: 55px;
  line-height: 19px;
}

#add-on-info .content .item span {
  padding: 9px 12px;
  font-size: 15px;
}

#pl_modal_register .modal-dialog .modal-content .modal-body select[name='register_type'] {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  margin-bottom: 5px;
  border: 1px solid #ced4da;
}

#pl_modal_register .modal-dialog .modal-content .modal-body input {
  border-radius: 0;
  margin-bottom: 5px;
}

#wm_info h1 {
  font-size: 35px;
  color: #454444;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

#wm_info hr {
  height: 3px;
  width: 38px;
  background-color: #074b73;
}

#wm_info #wm_top .one-wm {
  padding-bottom: 40px;
}

#wm_info #wm_top .one-wm .icon {
  text-align: center;
  padding-bottom: 20px;
}

#wm_info #wm_top .one-wm .icon i {
  color: #32AAE0;
  font-size: 48px;
}

#wm_info #wm_top .one-wm .card-body h4 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

#wm_info #wm_top .one-wm .card-footer p {
  line-height: 25px;
  font-weight: 100;
  font-size: 16px;
  color: #444;
  text-align: center;
}

#wm_info #wm_bottom .wm-desktop .hover-effect:hover {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  z-index: 9;
}

#wm_info #wm_bottom .wm-desktop .price {
  color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 50px;
}

#wm_info #wm_bottom .wm-desktop .price.first {
  background-color: white;
}

#wm_info #wm_bottom .wm-desktop .price.second {
  background: #9ec73b;
}

#wm_info #wm_bottom .wm-desktop .price.third {
  background: #44a2db none repeat scroll 0 0;
}

#wm_info #wm_bottom .wm-desktop .one-item {
  margin-bottom: 20px;
}

#wm_info #wm_bottom .wm-desktop .one-item .title {
  padding-left: 20px;
  clear: both;
  background: #0071bb;
  font-size: 16px;
  color: #ffffff;
  height: 33px;
  border-bottom: 1px solid #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

#wm_info #wm_bottom .wm-desktop .one-item .content .item {
  padding-left: 20px;
  background-color: #f9f9ff;
  font-size: 15px;
}

#wm_info #wm_bottom .wm-desktop .one-item .content .item i {
  font-size: 18px;
}

#wm_info #wm_bottom .wm-desktop .one-item .content .item i.fa-check-square {
  color: #14a963;
}

#wm_info #wm_bottom .wm-desktop .one-item .content .item i.fa-times {
  color: red;
}

#wm_info #wm_bottom .wm-desktop .one-item .content .item:nth-child(2n) {
  background-color: white;
}

#wm_info #wm_bottom .wm-desktop span.note {
  font-size: 16px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#wm_info #wm_bottom .wm-mobile {
  margin-bottom: 20px;
}

#wm_info #wm_bottom .wm-mobile ul.nav-tabs li.nav-item {
  width: 50%;
}

#wm_info #wm_bottom .wm-mobile ul.nav-tabs li.nav-item a.nav-link {
  border: none;
  text-align: center;
  font-size: 18px;
  border-radius: inherit;
  color: white;
  font-weight: bold;
}

#wm_info #wm_bottom .wm-mobile ul.nav-tabs li.nav-item a.nav-link.active {
  border: none;
}

#wm_info #wm_bottom .wm-mobile ul.nav-tabs li.nav-item a.nav-link.first {
  background: #9ec73b;
}

#wm_info #wm_bottom .wm-mobile ul.nav-tabs li.nav-item a.nav-link.second {
  background: #44a2db none repeat scroll 0 0;
}

#wm_info #wm_bottom .wm-mobile .tab-content h4 {
  text-align: center;
  font-size: 19px;
  line-height: 40px;
  color: #989898;
}

#wm_info #wm_bottom .wm-mobile .tab-content .price {
  background: #0071bb none repeat scroll 0 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  padding: 5px 20px;
}

#wm_info #wm_bottom .wm-mobile .tab-content .one-item .title {
  background: #44a2db none repeat scroll 0 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#wm_info #wm_bottom .wm-mobile .tab-content .one-item .content .item {
  width: 100%;
  font-size: 15px;
  background-color: #f9f9ff;
}

#wm_info #wm_bottom .wm-mobile .tab-content .one-item .content .item:nth-child(2n) {
  background-color: white;
}

#wm_info #wm_bottom .wm-mobile .tab-content .one-item .content .item i {
  font-size: 18px;
}

#wm_info #wm_bottom .wm-mobile .tab-content .one-item .content .item i.fa-check-square {
  color: #14a963;
}

#wm_info #wm_bottom .wm-mobile .tab-content .one-item .content .item i.fa-times {
  color: red;
}

#wm_info #wm_bottom .wm-mobile span.note {
  font-size: 16px;
  display: block;
  text-align: center;
  margin: 20px 0;
}

