#h_4{
  h3 {
    font-size: 30px;
  }
  .glyph-icon {
    display: block;
    font-family: "Flaticon";
    line-height: 1;
    &:before{
      font-size: 44px;
      color: #222;
      margin-left: 0;
    }
  }
  p {
    font-size: 18px;
    padding-top: 10px;
    color: #222;
  }
}