#h_3 {
  background-color: #f5f5f5;

  h5 {
    font-size: 36px;
    position: relative;
    padding-bottom: 10px;
    &:before {
      content: '';
      position: absolute;
      width: 68px;
      height: 2px;
      background-color: #0a95d1;
      left: 50%;
      transform: translate(-50%, 0%);
      bottom: -5px;
    }
    span {
      color: #0a95d1;
      font-weight: 400;
    }
  }

  p {
    font-size: 16px;
    width: 60%;
    margin: auto;
    padding-top: 10px;
    color: #6c757d;
    padding-bottom: 38px;
  }

  .ob-services {
    border: 1px solid #b5afaf;
    margin-bottom: 30px;
    background-color: white;
    transition: .3s;
    padding: 30px 0px;
    &:hover {
      border: 1px solid #001342;
      background-color: #001342;
      h6 {
        color: #0a95d1;
      }
      p {
        color: white;
      }
      i {
        color: white;
      }
    }
    h6 {
      font-size: 26px;
    }
    p {
      margin: auto;
      width: 88%;
      padding: 0;
      font-size: 16px;
      padding-bottom: 20px;
    }
    i {
      color: #0a95d1;
      font-size: 28px;
    }
  }
}