#add-on-info {
  .title {
    color: white;
    font-size: 18px;
    padding: 9px 12px;
    border: 1px solid white;
    //background: linear-gradient(white 60%, rgba(128,128,128,0.38));
    background-color: #04B8FF;
    font-weight: bold;
  }
  .content {
    .item {
      border: 1px solid rgba(0, 0, 0, 0.0666667);
      height: 55px;
      line-height: 19px;
      span {
        padding: 9px 12px;
        font-size: 15px;
      }
    }
  }
}